
.socialBtns
  ul
    li.facebook
      .fb-like(data-href='#{meta.url}', data-send='false', data-share='true', data-layout='button_count', data-width='110', data-show-faces='false')
    li.twitter
      a(href="https://twitter.com/share", class="twitter-share-button", data-url=meta.url, data-text=sns.twitter.text, data-hashtags=sns.twitter.hashtags, data-lang="ja")
