//-link(rel="apple-touch-icon" sizes="120x120" href="http://example.com/assets/img/icon/icon120.png")
//-link(rel="apple-touch-icon" sizes="152x152" href="http://example.com/assets/img/icon/icon152.png")
//-link(rel="apple-touch-icon" sizes="180x180" href="http://example.com/assets/img/icon/icon180.png")

//-meta(name="apple-mobile-web-app-title", content="アプリタイトル")
//-meta(name="apple-mobile-web-app-capable", content="yes")
//-meta(name="apple-mobile-web-app-status-bar-style", content="black")