/npm-debug.log
/.bundle
/build
/.sass-cache
.DS_Store
Gemfile.lock
.gruntrc

node_modules
vendor
bower_components

#typescript
/src/typescript/tsd.d.ts
/typings

# build
public/
src/js/include/**/*.js


# validation
.html-validation

# IDEA Files
workspace.xml
.idea
*.iml





# 動的に生成するConfig
src/sass/_config.sass

src/coffee/Config.coffee
src/typescript/Config.ts