extends _pc_layout
block css
  link(rel='stylesheet', href='#{css}/index.css')

block content
  img(src="#{img}/test_sp/unko_me.png", width="$", height="$")


block scripts
  script(src='#{js}/entries/pc.js')
