extends ../_pc_layout

block content
  -
    var list = [
      {link: 'pages/#pages/BaseWorldTest.main.js', title: '動的読み込みのテスト。pages/?js=path-to-jsfile、でいける。'},
      {link: 'pages/#pages/shader/SimpleShader.main.js', title: 'ShaderMaterialのテスト。'},
      {link: 'pages/#pages/shader/MoneyMove1.main.js', title: 'Moneyにmover。ひとつだけ。'},
      {link: 'pages/#pages/shader/MoneyMoveArrive.main.js', title: 'Moneyに到着行動。'},
      {link: 'pages/#pages/shader/MoneyMove.main.js', title: 'Moneyにmover。'},
      {link: 'pages/#pages/vector_field/VectorField.main.js', title: 'Vector Field。'},
      {link: 'pages/#pages/fractal/Fractal1.main.js', title: 'Fractal 1'},
    ]
  ul
    each data in list
      li: a(href='../#{data.link}')= data.title

block scripts
  script(src='#{js}/all.main.js')
